<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<link href="app.css" rel="stylesheet" type="text/css" media="only screen and (min-width:960px)">
  
<div id="wrapper"> 
    <!-- title of home page, adding this font style makes it repsonsive-->
    <br>
    <section id="welcome">
        <h1 style="font-size:3vw;">Hello and Welcome to</h1>
        <h1 style="font-size:5vw;">Sabrina's Portfolio</h1>
    </section>
    <br>
    <br>
    <br>
    <!-- gif image on home page-->
    <figure id="homefigure"> 
        <img src="Assets/images/binary.gif" alt="binary" class="responsiveimg">  
    </figure> 

    <br>
    <br>
    <br>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

